/*
dojo_style_start
outer_bg = u"white"
filled_outer_bg = u"#d2dae2"
inner_bg = u"#e7eef6" # u"#e0d9d5"
axis_lbl_font_colour = u"#423126"
filled_font_colour = u"#000033"
major_gridline_colour = u"#b8a49e"
gridline_width = 1
stroke_width = 3
tooltip_border_colour = u"#5a5a79"
normal_curve_colour = u"#414141"
colour_mappings = [
    (u"#6098f0", u"#a8c4f0"),
    (u"#2d4770", u"#7f94b6"),
    (u"#a8c4f0", u"#6098f0"),
    (u"#7f94b6", u"#afb1b6"),
    (u"#4167a3", u"#273d61"),
    ]
connector_style = u"greypurp"
dojo_style_end
*/
    body{
        font-size: 12px;
        font-family: Ubuntu, Helvetica, sans-serif;
    }
    h1, h2{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    .gui-msg-medium, gui-msg-small{
        color: #29221c;
        font-family: arial;
    }
    .gui-msg-medium{
        font-size: 16px;
    }
    *html .gui-msg-medium{
        font-weight: bold;
        font-size: 18px;
    }
    .gui-msg-small{
        font-size: 13px;
        line-height: 150%;
    }
    .gui-note{
        background-color: #e95829;
        color: white;
        font-weight: bold;
        padding: 2px;
    }
    tr, td, th{
        margin: 0;
    }

    .tbltitle, .tblsubtitle{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
    }
    .tbltitle{ /*spans*/
        padding: 0;
        font-size: 18px;
    }
    .tblsubtitle{
        padding: 12px 0px 0px 0px;
        font-size: 14px;
    }
    .tblcelltitle{ /*th*/
        text-align: left;
        border: none;
        padding: 0px 0px 12px 0px;
        margin: 0;
    }

    th, .rowvar, .rowval, .datacell, .firstdatacell {
        border: solid 1px #A1A1A1; /* #1e3348; dark blue*/
    }
    th{
        margin: 0;
        padding: 0px 6px;
    }
    td{
        padding: 2px 6px;
        border: solid 1px #c0c0c0;
        font-size: 13px;
    }
    .subtable{
        border-top: solid 3px #c0c0c0;
    }
    .rowval{
        margin: 0;
    }
    .datacell, .firstdatacell{
        text-align: right;
        margin: 0;
    }
    .firstcolvar, .firstrowvar, .spaceholder {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: white;
    }
    .firstcolvar, .firstrowvar{
        background-color: #1e3348; /*very dark blue*/
    }
    .firstrowvar{
        border-left: solid 1px #333435;
        border-bottom:  solid 1px #333435;
    }
    .topline{
        border-top: 2px solid #c0c0c0;
    }
    .spaceholder { /*main background image*/
        background-image: url("sofastats_report_extras/sky.jpg") !important; /*else tundra forces none*/
        background-color: #fe7200;
        border: solid 1px #4574a5; /*dark blue*/
    }
    .firstcolvar{
        padding: 9px 6px;
        vertical-align: top;
    }
    .rowvar, .colvar{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #333435;
        background-color: white;
    }
    .colvar{
        padding: 6px 0px;            
    }           
    .colval, .measure{
        font-size: 12px;
        vertical-align: top;
    }
    table {
        border-collapse: collapse;
    }
    tr.total-row td{
        font-weight: bold;
        border-top: solid 2px black;
        border-bottom: double 3px black;
    }
    .page-break-before{
        page-break-before: always;
        border-bottom: none; /*3px dotted #AFAFAF;*/
        width: auto;
        height: 18px;
    }
    td.lbl{
        text-align: left;
        background-color: #F5F5F5;
    }
    td.right{
        text-align: right;
    }
    .ftnote-line{
        /* for hr http://www.w3schools.com/TAGS/att_hr_align.asp*/
        width: 300px;
        text-align: left; /* IE and Opera*/
        margin-left: 0; /* Firefox, Chrome, Safari */
    }
    .tbl-header-ftnote{
        color: white;
    }
    .ftnote{
        color: black;
    }
    /* Tool tip connector arrows */
    .dijitTooltipBelow-greypurp {
	
	    padding-top: 13px;
    }
    .dijitTooltipAbove-greypurp {
	
	    padding-bottom: 13px;
    }
    .tundra .dijitTooltipBelow-greypurp .dijitTooltipConnector {
	
	    top: 0px;
	    left: 3px;
	    background: url("sofastats_report_extras/tooltipConnectorUp-greypurp.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipBelow-greypurp .dijitTooltipConnector {
	
	    background-image: url("sofastats_report_extras/tooltipConnectorUp-greypurp.gif") !important;
    }
    .tundra .dijitTooltipAbove-greypurp .dijitTooltipConnector {
	
	    bottom: 0px;
	    left: 3px;
	    background:url("sofastats_report_extras/tooltipConnectorDown-greypurp.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipAbove-greypurp .dijitTooltipConnector {
	    background-image: url("sofastats_report_extras/tooltipConnectorDown-greypurp.gif") !important;
    }
    .dj_ie6 .tundra .dijitTooltipAbove-greypurp .dijitTooltipConnector {
	    bottom: -3px;
    }
    .tundra .dijitTooltipLeft-greypurp {
	    padding-right: 14px;
    }
    .dj_ie6 .tundra .dijitTooltipLeft-greypurp {
	    padding-left: 15px;
    }
    .tundra .dijitTooltipLeft-greypurp .dijitTooltipConnector {
	
	    right: 0px;
	    bottom: 3px;
	    background:url("sofastats_report_extras/tooltipConnectorRight-greypurp.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipLeft-greypurp .dijitTooltipConnector {
	    background-image: url("sofastats_report_extras/tooltipConnectorRight-greypurp.gif") !important;
    }
    .tundra .dijitTooltipRight-greypurp {
	    padding-left: 14px;
    }
    .tundra .dijitTooltipRight-greypurp .dijitTooltipConnector {
	
	    left: 0px;
	    bottom: 3px;
	    background:url("sofastats_report_extras/tooltipConnectorLeft-greypurp.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipRight-greypurp .dijitTooltipConnector {
	    background-image: url("sofastats_report_extras/tooltipConnectorLeft-greypurp.gif") !important;
    }
