/*
dojo_style_start

chart_bg = "white"
chart_font_colour = "#423126"
plot_bg = "#3f1931"
plot_font_colour = "white"
plot_bg_filled = "#3f1931"
plot_font_colour_filled = "white"
axis_font_colour = "#423126"
major_gridline_colour = "#eadfe6"
gridline_width = 1
stroke_width = 3
tooltip_border_colour = "#fec79a"
normal_curve_colour = "#414141"
colour_mappings = [
    ("#e29ec9", "#ffe8f7"),
    ("#614e5f", "#867484"),
    ("#f6ecec", "#803363"),
    ("#803363", "#3f1931"),
    ("#2a1020", "#4d2840"),
    ("#f87500", "#f8e8ac"),
    ("#faba85", "#fae0cb"),
    ("#767174", "#d7cdd3"),
    ("#b22222", "#c94343"),
]
connector_style = "paleorange"
dojo_style_end
*/
    body{
        font-size: 12px;
        font-family: Ubuntu, Helvetica, Arial, sans-serif;
    }
    h1, h2{
        font-family: Ubuntu, Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    .gui-msg-medium, gui-msg-small{
        color: #29221c;
        font-family: Ubuntu, Helvetica, Arial, sans-serif;
    }
    .gui-msg-medium{
        font-size: 16px;
    }
    *html .gui-msg-medium{
        font-weight: bold;
        font-size: 18px;
    }
    .gui-msg-small{
        font-size: 13px;
        line-height: 150%;
    }
    .gui-note{
        background-color: #e95829;
        color: white;
        font-weight: bold;
        padding: 2px;
    }
    tr, td, th{
        margin: 0;
    }

    .tbltitle, .tblsubtitle{
        margin: 0;
        font-family: Ubuntu, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
    }
    .tbltitle{ /*spans*/
        padding: 0;
        font-size: 18px;
    }
    .tblsubtitle{
        padding: 12px 0px 0px 0px;
        font-size: 14px;
    }
    .tblcelltitle{ /*th*/
        text-align: left;
        border: none;
        padding: 0px 0px 12px 0px;
        margin: 0;
    }

    th, .rowvar, .rowval, .datacell, .firstdatacell {
        border: solid 1px #A1A1A1;
    }
    th{
        margin: 0;
        padding: 0px 6px;
    }
    td{
        padding: 2px 6px;
        border: solid 1px #c0c0c0;
        font-size: 13px;
    }
    .subtable{
        border-top: solid 3px #c0c0c0;
    }
    .rowval{
        margin: 0;
    }
    .datacell, .firstdatacell{
        text-align: right;
        margin: 0;
    }
    .firstcolvar, .firstrowvar, .spaceholder {
        font-family: Ubuntu, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: white;
    }
    .spaceholder {
        background-image: url("sofastats_report_extras/lucid_spirals.gif") !important; /*else tundra forces none*/
        background-color: #fe7200;;
        border: solid 1px #3f1931; /*#f15d22;*/
    }
    .firstcolvar, .firstrowvar{
        background-color: #3f1931;
    }
    .firstrowvar{
        border-left: solid 1px #3f1931;
        border-bottom:  solid 1px #3f1931;
    }
    .topline{
        border-top: 2px solid #c0c0c0;
    }
    .firstcolvar{
        padding: 9px 6px;
        vertical-align: top;
        border-top:  solid 1px #3f1931;
    }
    .rowvar, .colvar{
        font-family: Ubuntu, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #333435;
        background-color: white;
    }
    .colvar{
        padding: 6px 0px;            
    }           
    .colval, .measure{
        font-size: 12px;
        vertical-align: top;
    }
    table {
        border-collapse: collapse;
    }
    tr.total-row td{
        font-weight: bold;
        border-top: solid 2px black;
        border-bottom: double 3px black;
    }
    .page-break-before{
        page-break-before: always;
        border-bottom: none; /*3px dotted #AFAFAF;*/
        width: auto;
        height: 18px;
    }
    td.lbl{
        text-align: left;
        background-color: #efbcab;
    }
    td.right{
        text-align: right;
    }
    .ftnote-line{
        /* for hr http://www.w3schools.com/TAGS/att_hr_align.asp*/
        width: 300px;
        text-align: left; /* IE and Opera*/
        margin-left: 0; /* Firefox, Chrome, Safari */
    }
    .tbl-header-ftnote{
        color: white;
    }
    .ftnote{
        color: black;
    }
    /* Tool tip connector arrows */
    .dijitTooltipBelow-paleorange {
	
	    padding-top: 13px;
    }
    .dijitTooltipAbove-paleorange {
	
	    padding-bottom: 13px;
    }
    .tundra .dijitTooltipBelow-paleorange .dijitTooltipConnector {
	
	    top: 0px;
	    left: 3px;
	    background: url("sofastats_report_extras/tooltipConnectorUp-paleorange.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipBelow-paleorange .dijitTooltipConnector {
	
	    background-image: url("sofastats_report_extras/tooltipConnectorUp-paleorange.gif") !important;
    }
    .tundra .dijitTooltipAbove-paleorange .dijitTooltipConnector {
	
	    bottom: 0px;
	    left: 3px;
	    background:url("sofastats_report_extras/tooltipConnectorDown-paleorange.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipAbove-paleorange .dijitTooltipConnector {
	    background-image: url("sofastats_report_extras/tooltipConnectorDown-paleorange.gif") !important;
    }
    .dj_ie6 .tundra .dijitTooltipAbove-paleorange .dijitTooltipConnector {
	    bottom: -3px;
    }
    .tundra .dijitTooltipLeft-paleorange {
	    padding-right: 14px;
    }
    .dj_ie6 .tundra .dijitTooltipLeft-paleorange {
	    padding-left: 15px;
    }
    .tundra .dijitTooltipLeft-paleorange .dijitTooltipConnector {
	
	    right: 0px;
	    bottom: 3px;
	    background:url("sofastats_report_extras/tooltipConnectorRight-paleorange.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipLeft-paleorange .dijitTooltipConnector {
	    background-image: url("sofastats_report_extras/tooltipConnectorRight-paleorange.gif") !important;
    }
    .tundra .dijitTooltipRight-paleorange {
	    padding-left: 14px;
    }
    .tundra .dijitTooltipRight-paleorange .dijitTooltipConnector {
	
	    left: 0px;
	    bottom: 3px;
	    background:url("sofastats_report_extras/tooltipConnectorLeft-paleorange.png") no-repeat top left !important;
	    width:16px;
	    height:14px;
    }
    .dj_ie .tundra .dijitTooltipRight-paleorange .dijitTooltipConnector {
	    background-image: url("sofastats_report_extras/tooltipConnectorLeft-paleorange.gif") !important;
    }
